<footer>
    <div>
        <div>
            Coding Ninjas All Rights Reserved
        </div>
        <div>
            <div>
                <a href="/">Home</a>
            </div>
            <% if(locals.user) { %>
            <div>
                 <a href="/users/profile/<%= locals.user.id%>">Profile</a>
            </div>
            <%}%>
        </div>
    </div>
</footer>