footer{
background-color: yellow;
// position: absolute;
// bottom: 0;
// width: 100%;

    div{
        display: flex;
        justify-content: space-around;

         div{
            font-weight: bold;
            font-size: 5vh;
            display: flex;
            align-items: last baseline;
            div{
              padding: 0 1vh 0 3vh;
              font-size: 3vh;
            }

         }
    }
}